/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {  
  .text-responsive { font-size: 20px; }    
  a { font-size: 20px; }    
}

@media (max-width: 1999px) {  
  .text-responsive { font-size: 18px; }
  a { font-size: 18px; }    
}

@media (max-width: 1000px) {  
  .text-responsive { font-size: 16px; }
  a { font-size: 16px; }       
}